---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Article from '../components/Article.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import { getContent } from '../content/medium.ts';

const blogContent = await getContent();

---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1 id="home">🧑‍🚀 {SITE_TITLE}</h1>
			<hr>
			<section id="blog">
				<ul>
				{
					blogContent.map((post) => 
						<Article title={post.title} description={post.desc} link={post.link} image={post.image}) />
					)
				}
				</ul>
			</section>

			<hr>

			<section id="projects">
			</section>
		</main>
		<Footer />
	</body>
</html>
